#workspace * {
  font-family: Ubuntu;
  font-size: 1rem;
}
#workspace h1 {
  font-size: 3rem;
}
#workspace h2,h3 {
  margin: 20px 0;
  padding: 0;
}
#workspace h2 {
  font-size: 1.8rem;
}
#workspace h3 {
  font-size: 1.2rem;
}
#workspace .top {
  width: 100%;
  height: 55%;
  display: inline-block;
  border-bottom: 2px solid #00C0C0;
}
#workspace .top .table {
  width: 100%;
  height: 100%;
}
#workspace #left,#right {
  padding: 0 5px;
  height: 100%;
}
#workspace #right {
  border-left: 2px solid #00C0C0;
}
#workspace #right #replaceFields input {
  display: inline-block;
  width: 48%;
}
#workspace .compress-status {
  padding: 5px;
  width: 99%;
}
#workspace form label {
  margin-bottom: 5px;
  display: block;
}
#workspace form label span {
  display: block;
  margin: 0 0 5px;
}
#workspace form label p {
  color: gray;
  font-size: 12px;
  display: inline-block;
}
#workspace form label input[type=text] {
  width: 350px;
}
#workspace .compress-status .error {
  color: red;
}
#workspace .compress-status .success {
  color: green;
}
#workspace .btn {
  background: #00C0C0;
  display: inline-block;
  margin: 5px;
  color: white;
  outline: none;
  border: 0;
  cursor: pointer;
}
#workspace #replaceFields {
  margin-left: 10px;
}
